@model Whiteboard.Models.UserModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="demo_form.asp" method="get">

    @foreach (var item in Model.userList)
    {
        <input type="checkbox" name="item.Email" value="@item.Email"> @item.Firstname @item.Lastname<br>
    }
    <input type="submit" value="Lägg till">



</form>


