@model Whiteboard.Models.UserModel

@foreach (var item in Model.userList)
{
   

        <p><a href="https://www.youtube.com/watch?v=4F4qzPbcFiA">@item.Lastname  @item.Firstname</a></p>
       
       

}
