@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Whiteboard Informatik</h1>
    <div class="lead">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/19/%C3%96rebro_universitet_2013.jpg" height="600px" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Research", "Feed", "Feed", new RouteValueDictionary(new { sectionID = 2 }), null)</h2>
        <p>
            Read about research news!
        </p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Education", "Feed", "Feed", new RouteValueDictionary(new { sectionID = 1 }), null)</h2>
        <p>Read and post about news and 'FYI' information regarding Education.</p>

    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Social", "Feed", "Feed", new RouteValueDictionary(new { sectionID = 3 }), null)</h2>
        <p>Share something Off-Topic! Post about your vacation, plan an After-Work or anything you'd like.</p>
    </div>
</div>



