@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Whiteboard Informatik</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Research</h2>
        <p>
            Read about research news! Click the menu option for Research above.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Education</h2>
        <p>Read and post about news and 'FYI' information regarding Education. Clikc the menu option for Education above.</p>

    </div>
    <div class="col-md-4">
        <h2>Social</h2>
        <p>Share something Off-Topic! Post about your vacation, plan an After-Work or anything you'd like. Click the manu option for Social above.</p>
    </div>
</div>